/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* soft reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Variables */

:root{
    --main-dark-color: #231f20;
    --main-brand-color: #94517E;
    --main-background-color: #FFF4F4;
}

body{
    background:  var(--main-background-color);
}

/* header section */

.header{
    min-height: 100vh;
    width: 100%;
    background: url(../images/LOL-character-images/yone.png) fixed no-repeat center / cover ;
    font-family: Spectral, 'Segoe UI', sans-serif;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    transition: all 1.2s ease-out;
}

nav img:hover{
    transform: rotate(180deg);
    transition: all 0.6s ease-in;  
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding-top: 3px;
    margin: 0 1rem;
}

.nav-links ul li a{
    color: var(--main-dark-color);
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.nav-links ul li a:hover{
    color: var(--main-brand-color);
}

.text-box{
    width: 100%;
    padding: 0 1rem;
    margin: auto;
    color: var(--main-dark-color);
    position: absolute;
    top: 50%;
    text-align: center;
    line-height:45px;
}

.text-box > h1{
    font-size: 3.5rem;
    text-transform: uppercase;
}

.text-box > p{
    font-family: "Spectral", 'Segoe UI', sans-serif;
    font-size: 1.35rem;
    max-width: 75ch;
    line-height: initial;
    margin: 1rem auto;
    font-weight: 600;
}

.nav-links .current{
    position: relative;
}

/* characters section */

.characters{
    width: 70%;
    margin: 0 auto;
    font-family: Spectral, 'Segoe UI', sans-serif;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.row{
    padding: 60px 0;
    position: relative;
}

.character-profile{
    position: relative;
    border: 5px solid var(--main-brand-color);
    padding-bottom: 70px;
    background: url(../images/LOL-character-images/yone-banner.png) no-repeat center / cover ;
    box-shadow: inset 0 0 8px, 8px 8px 8px var(--main-dark-color);
}

.character-profile > h3{
    margin-top: 100px;
    font-size: 1.7rem;
}

.character-profile > img{
    border-radius: 50%;
    height: 160px;
    position: absolute;
    left: 0; 
    top: -80px;
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background: linear-gradient(to right, var(--main-brand-color), pink) border-box;
    border: 5px solid transparent;
}

.known-as{
    color: var(--main-brand-color);
    font-weight: 700;
}

.character-profile > blockquote{
    max-width: 45ch;
    padding: 6px;
    margin: 2px auto;
    font-size: 1.21rem;
    font-weight: 800;
    color: var(--main-brand-color);
}

.character-profile > p{
    max-width: 60%;
    padding: 6px;
    margin: 2px auto;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--main-dark-color);
}

.next-btn{
    border: none;
    background: transparent;
    margin: auto;
    position: absolute;
    top: 0; left: 80%; bottom: 0; right: 0;
    z-index: 1;
    cursor: pointer;
}

.prev-btn{
    border: none;
    background: transparent;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right:80%;
    z-index: 1;
    cursor: pointer;
}

i{
    font-size: 90px;
    color: var(--main-dark-color);
    transition: all 0.3s ease-out;
}

/* media queries */

/* smaller screens */

@media (max-width: 700px) {
    
    .header{
        min-height: 100vh;
        width: 100%;
        background: url(../images/LOL-character-images/yone-portrait.png) no-repeat top / cover;
    }

    .text-box{
        width: 100%;
        padding: 0 1rem;
        margin: auto;
        color: var(--main-dark-color);
        position: absolute;
        top: 38%;
        text-align: center;
        line-height:35px;
    }
    
    .text-box > h1{
        font-size: 1.9rem;
        font-weight: 800;
    }

    .text-box > p{
        font-family: "Spectral", 'Segoe UI', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        max-width: 35ch;
        line-height: initial;
        margin: 1rem auto;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links ul li a{
        color: var(--main-dark-color);
    }

    html, body {
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        background: rgb(148, 81, 126, 0.6 );
        height: 100vh;
        width: 50%;
        top: 0;
        right: -50%;
        text-align: left;
        z-index: 2;
        transition: all 0.6s ease-in-out;
    }

    .fa-solid.fa-bars{
        transition: all 0.5s ease-out;
    }

    .fa-solid.fa-bars:hover{
        transition: all 0.5s ease-in;
        transform: rotate(90deg);
    }

    nav .fa-solid{
        color: var(--main-dark-color);
        margin: 10px;
        font-size: 30px;
        cursor: pointer;
    } 

    .characters{
        width: 90%;
    }

    .character-profile{
        background: url(../images/LOL-character-images/yone-profile-portrait.png) no-repeat top / cover ;
    }

    i{
        font-size: 35px;
        color: var(--main-dark-color);
    }
    
    i:active{
        font-size: 55px;
    }

    .character-profile > p{
        max-width: 90%;
        padding: 6px;
        margin: 2px auto;
        font-size: 1.15rem;
        font-weight: 600;
        color: var(--main-dark-color);
    }

    .next-btn{
        top:37px; left: 88%; bottom: 0; right: 0;
    }
    
    .prev-btn{
        top: 37px; left: 0; bottom: 0; right:88%;
    }

    .character-profile{
        padding-bottom: 40px;
    }
}

/* bigger screens */

@media (min-width: 700px) {

    .nav-links .current::after{
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 3px;
        left: 0;
        top: 0;
        background: var(--main-brand-color);
        transition: transform 0.3s ease-in;
    }
    
    .nav-links ul li a::after{
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        left: 0;
        bottom: 0;
        background: var(--main-brand-color);
        transition: transform 0.3s ease-out;
    }

    .nav-links ul li a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom center;
    }

    nav .fa-solid{
        display: none;
    } 

    i:hover{
        font-size: 110px;
        color: var(--main-brand-color);
    }
}